[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
auction = "Hp6iqFudQ9vr2Rz9cdXTk2gCHf4eu6Zr8jLyWe6vsPiL"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "cargo test"
